<p>
  <strong>Car type:</strong>
  <%= @car.car_type %>
</p>
 
<p>
  <strong>Car make:</strong>
  <%= @car.make %>
</p>
<p>
  <strong>Car model:</strong>
  <%= @car.model %>
</p>
<p>
  <strong>Car version:</strong>
  <%= @car.version %>
</p>
