<div class="bot1_wrapper">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="bot1 clearfix">
	
<div class="row">
<div class="col-lg-3">
	
<div class="bot1_title">About Car Showroom</div>

<ul class="ul0">
	<li><a href="#">About Us</a></li>
	<li><a href="#">Our Terms &amp; Conditions</a></li>
	<li><a href="#">Privacy Policy</a></li>
	<li><a href="#">Careers</a></li>
</ul>

</div>
<div class="col-lg-3">
	
<div class="bot1_title">Help</div>

<ul class="ul0">
	<li><a href="#">Contact Us</a></li>
	<li><a href="#">Help</a></li>
	<li><a href="#">Customer Care</a></li>	
</ul>

</div>
<div class="col-lg-3">
	
<div class="bot1_title">Buy and Sell Car</div>

<ul class="ul0">
	<li><a href="#">Buy a Car</a></li>
	<li><a href="#">Sell a Car</a></li>
	 
</ul>

</div>
<div class="col_lg_3">
	
<div class="bot1_title">Follow Us</div>

<div class="social_wrapper">
	<ul class="social clearfix">
	    <li><a href="#"><%= image_tag "social_ic1.png" %></a></li>
	    <li><a href="#"><%= image_tag "social_ic2.png" %></a></li>
	    <li><a href="#"><%= image_tag "social_ic3.png" %></a></li>	    
	</ul>
</div>

</div>	
</div>

</div>	
</div>	
</div>	
</div>	
</div>

<div class="bot2_wrapper">
<div class="container">
<div class="row">
<div class="span12">
<div class="bot2 clearfix">
	
<footer><div class="copyright">Copyright   © 2013.Car Showroom.</div></footer>

</div>	
</div>	
</div>	
</div>	
</div>